<div class="container d-flex flex-column">

    <div class="row" id="singup_row">
        <div class="col-md-4 p-4 mx-auto">
            <%= render 'layouts/validation_error' %>
            <div class="card rounded-0" id="auth-card">
                <div class="card-body text-center">
                    <h1 class="logo-text">Instagram</h1>
                    <h6 class="text-muted font-weight-bold mb-4">Sign up to see photos and videos from your friends.</h6>
                    <%= form_with(model: @user, local: true) do |f| %> 
                        <div class="form-group">
                            <%= f.email_field :email, placeholder: "Email", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.text_field :name, placeholder: "Full Name", class: "form-control" %> 
                        </div>
                        <div class="form-group">
                            <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password, placeholder: "Password", class: "form-control" %> 
                        </div>
                        <div class="form-group">
                            <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control" %> 
                        </div>
                        <%= f.submit "Sign Up", class: "btn bg-my btn-block rounded-lg mt-2 font-weight-bold text-white" %>
                        <div class="text-muted mt-3">
                            By signing up, you agree to our <div class="font-weight-bold">Terms, Data Policy and Cookies Policy.</div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="card rounded-0 mt-3">
                <div class="card-body text-center">
                    Have an account? <%= link_to "Log In", root_path %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'layouts/footer' %>