<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container justify-between insta-container">
    <a class="navbar-brand" href="/image_posts">
      <%= image_tag("instagram.png", :size => "100x30", class: "rounded")%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="d-flex align-items-center">
          <li class="nav-item">
            <%= link_to raw('<svg width="30px" viewBox="0 0 20 20" stroke="currentColor" fill-opacity="0" stroke-opacity="0.8"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>'), letter_opener_web_path, class: "nav-link", target: "_blank" %>
          </li>
          <li class="nav-item">
            <%= link_to raw('<svg width="30px" viewBox="0 0 20 20" stroke="currentColor" fill-opacity="0" stroke-opacity="0.8"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>'), image_posts_path, class: "nav-link" %>
          </li>
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to raw('<svg width="30px" viewBox="0 0 20 20" stroke="currentColor" fill-opacity="0" stroke-opacity="0.8"><path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM14 11a1 1 0 011 1v1h1a1 1 0 110 2h-1v1a1 1 0 11-2 0v-1h-1a1 1 0 110-2h1v-1a1 1 0 011-1z"></path></svg>'), new_image_post_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <% if current_user.profile? %>
                <%= link_to image_tag(current_user.profile.url, :size => "35x35", :class => "rounded-circle mr-1 img-thumbnail"), user_path(current_user.id) %>
              <% else %>
                <%= link_to image_tag("https://i.pravatar.cc/300?u=#{current_user.email}", :size => "35x35", :class => "rounded-circle mr-1 img-thumbnail"), user_path(current_user.id) %>
              <% end %>
            </li>
          <% end %>
          <li class="nav-item">
              <%= link_to raw('<svg width="30px" viewBox="0 0 20 20" stroke="currentColor" fill-opacity="0" stroke-opacity="0.8"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z" clip-rule="evenodd"></path></svg>'), session_path(current_user.id), method: :delete, class: "nav-link" %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>