<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container justify-between insta-container">
    <a class="navbar-brand" href="/">
      <%= image_tag("instagram.png", :size => "100x30", class: "rounded")%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <div class="d-flex align-items-center">
          <li class="nav-item">
            <%= link_to raw('<svg width="30px" viewBox="0 0 20 20" stroke="currentColor" fill-opacity="0" stroke-opacity="0.8"><path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path></svg>'), root_path, class: "nav-link" %>
          </li>
          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "Create Post", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= image_tag("https://i.pravatar.cc/300?u=#{current_user.email}", :size => "30x30", :class => "mx-2  border rounded-circle") %>
            </li>
          <% end %>
          <li class="nav-item">
              <%= link_to raw('<svg width="25px" viewBox="0 0 20 20" stroke="grey" fill-color="grey" fill-opacity=".8" stroke-opacity="0.8"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>'), session_path(current_user.id), method: :delete, class: "nav-link" %>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>